# Ignore virtual environment directories (anywhere in the project)
.venv1/
venv1/

# Ignore Python bytecode files and __pycache__ directories
**/*.pyc
__pycache__/

# Ignore Jupyter notebook checkpoint directories
**/*.ipynb_checkpoints/

# Ignore .nc files (anywhere in the project, including subdirectories)
**/*.nc

# Ignore system-specific files (e.g., MacOS)
**/*.DS_Store

#ignore
emuesat_all_datat
mca_shared.zip
results
Data/

